body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

#board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

h1 {
  color: rgb(243, 16, 208);
}

.tile {
  color: rgb(243, 16, 208);
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-border {
  border-right: 0.2em solid greenyellow;
}

.bottom-border {
  border-bottom: 0.2em solid greenyellow;
}

.strike {
  position: absolute;
  background-color: red;
}

.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 16%;
}

.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 49%;
}

.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 84%;
}

.strike-column-3 {
  height: 100%;
  width: 4px;
  right: 16%;
}

.strike-column-2 {
  height: 100%;
  width: 4px;
  right: 50%;
}

.strike-column-1 {
  height: 100%;
  width: 4px;
  right: 84%;
}

.strike-diagonal-1 {
  width: 90%;
  height:5.5px;
  top: 50%;
  left: 5%;
  transform: skewY(45deg);
  color: red;
}

.strike-diagonal-2 {
  width: 90%;
  height: 5.5px;
  top: 50%;
  left: 5%;
  transform: skewY(-45deg);
}

#box {
  display: flex;
  flex-direction: column; 
  align-items: center;
  box-sizing: border-box;
  width: 250px;
  height: 150px;
  /* border: 5px solid #969696; */
  padding: 10px;
  margin-top: 20px;
}

.winner-text {
  color: rgb(243, 16, 208);
}

button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #9147ff;
  color: white;
  padding: 0 10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.x-hover:hover:after {
  content:'X';
}

.o-hover:hover:after {
  content: 'O';
}



